extends widget/base

block append head
    - var v = new Date().getTime()
    link(rel='stylesheet' href= url_for('/style/about.css?v=' + v))

block content
    main.about-page.is-flex.is-align-items-center.content
        .container.is-max-widescreen
            .columns.is-marginless
                aside.column.is-4.is-flex.is-flex-direction-column.is-justify-content-center
                    img.js-img-fadeIn(src= 'about.jpg')
                section.column.is-8.is-flex.is-flex-direction-column.is-justify-content-center
                    h2.about-title= __('about')
                    article!= page.content
block append script
    script.
        $claudia.fadeInImage()
