extends widget/base

block append head
  link(rel='stylesheet', href= url_for('/style/404.css'))

block content
    main.container-404
        img(src= url_for(page.image || theme.errorPage.image))
        h1= 'NOT found!'
        p= 'Sorry, the page you are looking for does not exist'
        a(href= url_for('/'))= 'INDEX'
