extends widget/base

block append head
    - var v = new Date().getTime()
    link(rel='stylesheet', href= url_for("/style/maps.css?v=" + v))
    
block content
    main.aside-card-container.archives-widget.p-2(class= is_archive() && 'is-in-archive-page')
        header.mb-2
            h1= '标签地图'
          
        iframe(src= config.processon || theme.processon)
