extends widget/base

block append head
    link(rel='stylesheet', href= url_for("/style/maps.css?v=" + config.version))
    
block content
    main.aside-card-container.archives-widget.p-2(class= is_archive() && 'is-in-archive-page')
        //- header.mb-2
            //- h1= '标签地图'
          
        iframe(src= config.processon || theme.processon)
