extends widget/base

block append head
    - var v = new Date().getTime()
    link(rel='stylesheet', href= url_for('/style/search.css?v=' + v))

block content
    main.result-container.p-2
        header
            h1#key
            p#result-length
        section#result-list
        div#no-data.hidden
            img.nodata-light(src= url_for(page.images.light))
            img.nodata-dark(src= url_for(page.images.dark))
            h1= '没有找到'
            p= '请尝试搜索其他关键字'

    script(src= url_for('/js/results.js?v=' + v))
