- var appearance = theme.appearance ? theme.appearance : 'auto'
- var pageTitle = page.title || theme.user && theme.user.name
- if (is_archive()) pageTitle = _p('archive')
- if (is_tag()) pageTitle = _p('tag') + ': ' + page.tag
- if (is_category()) pageTitle = _p('category') + ': ' + page.category
- if (is_month()) pageTitle += ': ' + page.month + '/' + page.year
- if (is_year()) pageTitle += ': ' + page.year
- var v = config.version

doctype html
//- html(lang=config.language class= `appearance-${ appearance }`)
html(lang=config.language)
  head
    meta(charset='UTF-8')
    title= pageTitle
    meta(name="keywords" content= config.keywords)
    meta(name="description" content= config.description || theme.user && theme.user.description)
    meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1")
      
    link(rel="icon" href= url_for(theme.favicon))
    link(rel="stylesheet" href= url_for('/style/common/bulma.css?v=' + config.version))
    //- link(rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href= url_for('/style/common/bulma.css?v=' + config.version))
    link(rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href= url_for('/style/common/iconfont.css?v=' + config.version))
    link(rel="stylesheet" href= url_for('/style/base.css?v=' + config.version))
    link(rel="stylesheet" href= url_for('/style/common/helper.css?v=' + config.version))
    link(rel="stylesheet" href= url_for('/style/themes/animation.css?v=' + config.version))
    
    script.
      function ready() {
        var bodyEl = document.querySelector('.body-container');
        var theme = localStorage.getItem('theme') || 'light';
        if (!['light', 'dark'].includes(theme)) {
          theme = 'light';
          localStorage.setItem('theme', 'light');
        }
        bodyEl.classList.remove('appearance-auto');
        bodyEl.classList.add('appearance-' + theme);
        quickInitialTheme();
      }
      function quickInitialTheme() {
        var theme = localStorage.getItem('theme') || 'light';
        var logoLightEl = document.querySelector('.logo-light');
        var logoDarkEl = document.querySelector('.logo-dark');
        
        var mLogoLightEl = document.querySelector('#mobile-header-logo > .logo-light');
        var mLogoDarkEl = document.querySelector('#mobile-header-logo > .logo-dark');
        var themeBtnEl = document.getElementById('theme-btn');
        
        var slideThemeLightEl = document.querySelector('.slide-theme-light');
        var slideThemeDarkEl = document.querySelector('.slide-theme-dark');
        
        document.body.classList.add(theme);
        if (theme === 'dark') {
          logoLightEl.classList.add('hidden');
          logoDarkEl.classList.remove('hidden');
          
          mLogoLightEl.classList.add('hidden');
          mLogoDarkEl.classList.remove('hidden');
          
          themeBtnEl.classList.remove('icon-icon_dark');
          themeBtnEl.classList.add('icon-icon_light');
          
          slideThemeLightEl.classList.remove('hidden');
        } else {
          slideThemeDarkEl.classList.remove('hidden');
        }
      }
      document.addEventListener("DOMContentLoaded", ready);
    script(src= url_for("/js/common.js?v=" + config.version))
    script(src= url_for("/js/libs/zepto.min.js"))
    block head

  body.is-flex.is-flex-direction-column(onload="initialTheme()")
    //- div#version.hidden= v
    div.clip
    div(class= 'body-container appearance-auto')
      include widget-header
      main
          block content
    footer.is-flex.is-flex-direction-column.is-align-items-center.is-flex-shrink-0
      section.sns-container
        include widget-sns
      //- p
      //-   span Copyright ©
      //-   - var author = (theme.user && theme.user.name) || config.author || ''
      //-   span= ' ' + author + ' ' + new Date().getFullYear()
    //- script(src= url_for("/js/search.js"))
    script(async src= url_for("/js/buttons.js?v=" + config.version))
    script(async src= url_for("/js/index.js?v=" + config.version))
    script(async src= url_for("https://www.googletagmanager.com/gtag/js?id=G-JVCJ9XXG1Z"))
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-JVCJ9XXG1Z');
    script.
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?c92c073c85be5be8d9b1b76f62a7e306";
        hm.async = true;
        hm.defer = true;
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
      })();
        
