-
    function getPostCoverImg(post) {
        
        const $coverImgElRegx = /<img.*?alt="\$cover".*?>/
        const coverImgElement = post.content.match(/<img[^>]+src="?([^"\s]+)".*?>/)

        if (post.cover) return post.cover
        if (!coverImgElement) return "/images/default_cover.png"

        return coverImgElement[1]
    }
