block append head
    link(rel='stylesheet', href= url_for("/style/widget-tags.css?v=" + config.version))

main.tags-container.p-2
    ul
        - var list = {};

        // 从 source/_data/tags.yml 读取预览页标签顺序
        - var tagsData = site.data.tags || {};
        - var previewOrder = tagsData.preview_order || [];

        - var allTags = site.tags.toArray();

        // 根据 preview_order 把指定标签按顺序置顶
        - var pinnedTags = [];
        - previewOrder.forEach(function(name) {
        -   allTags.forEach(function(t) {
        -     if (t.name === name && pinnedTags.indexOf(t) === -1) {
        -       pinnedTags.push(t);
        -     }
        -   });
        - });

        // 剩余标签 = allTags - pinnedTags（按名称排序后的顺序）
        - var restTags = allTags.filter(function(t) {
        -   return previewOrder.indexOf(t.name) === -1;
        - });

        - var orderedTags = pinnedTags.concat(restTags);

        each tag in orderedTags
            - list[tag.name] = [];
            each post in site.posts.sort('date', -1).toArray()
                each postTag in post.tags.toArray()
                    if postTag.name == tag.name
                        - list[postTag.name].push(post);
            li
                header.is-flex.is-flex-direction-row.is-align-items-center.mb-2
                    div
                        h2= tag.name.replace(/-/g, ' ')
                        p
                            span= list[tag.name].length
                            span= ' 篇文章'
                    if list[tag.name].length > 5
                        a(href= url_for('/tags/' + tag.name))= "全部"
                section
                    ul.post-list
                        each tagPost in list[tag.name].slice(0, 5)
                            li
                                a.is-flex.is-flex-direction-row.is-justify-content-space-between.is-align-items-center.px-3(href= url_for(tagPost.path))
                                    strong= tagPost.title
                                    i.iconfont.icon-icon_into
