- var current = 'Home';
- if (is_home()) { current = 'Home' }
- if (is_archive()) { current = 'Archive' }
- if (is_current('/tags')) { current = 'Tag' }
- if (is_current('/mempool')) { current = "Mempool" }

header.header-widget.is-hidden-mobile.is-flex.is-flex-shrink-0.is-align-items-center.is-justify-content-center
    div.is-flex.header-widget-container.is-flex-shrink-0.is-align-items-center
        section.is-hidden-mobile.is-flex-shrink-0
            h1
                a(href= url_for("/"))
                    img(src= url_for(theme.logo || config.logo))
                //- a(href= url_for("/"))= (theme.user && theme.user.name || config.author)
        div.is-flex.is-flex-direction-column
            aside.is-flex-shrink-0.is-flex.is-flex-direction-row.is-align-items-center#header-menu
                if theme.menu
                    each url, label in theme.menu
                        if label == current
                            h3.is-inline-block.header-activity.mr-4
                                a(href= url_for(url))= label && _p(label.toLowerCase())
                        else
                            h3.is-inline-block.mr-4
                                a(href= url_for(url))= label && _p(label.toLowerCase())
            h3.header-title.is-hidden-mobile.is-family-serif.is-full-height.is-flex.is-align-items-center.is-flex-shrink-0
                block topic
        div
            i.iconfont.icon-icon_dark
header.is-flex.header-widget.is-flex-shrink-0.is-align-items-center.is-justify-content-center.is-hidden-tablet
        if theme.menu
            each url, label in theme.menu
                h3.is-inline-block
                    a(href= url_for(url))= label && _p(label.toLowerCase())
