.body-container {
  > main {
    display: flex;
    flex-direction: column;
    .aside-card-container {
      margin: 0 auto 32px;
      display: flex;
      flex-direction: column;
      flex: 1;
      width: 1060px;
      header {
        h1 {
          margin-bottom: 4px;
          font-size: 24px;
          font-weight: 800;
          line-height: 32px;
          color: var(--heading-color);
        }
        > p {
          font-size: 14px;
          font-weight: 600;
          line-height: 22px;
          color: var(--text-secondary-color)!important;
        }
      }
      iframe {
        flex: 1;
      }
    }
  }
}

@media screen and (max-width: 834px) {
  .body-container {
    > main {
      .aside-card-container {
        margin-top: 16px;
        padding: 0 16px;
        width: 100%;
        header {
          h1 {
            font-size: 16px;
            font-weight: 800;
            line-height: 24px;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}
