@import "common/variable";

$lineColor: var(--border-line-color);

.hidden {
  display: none;
}

body > .body-container > main,
.clip > .body-container > main {
  background-color: var(--background-color-2)!important;
  > .container {
    max-width: 1184px;
  }
}

.light > footer {
  background-color: #fff!important;
}
.dark > footer {
  background-color: rgba(44, 44, 44, 1)!important;
}

#postTopic {
  cursor: pointer;
  will-change: transform;
  transform: translateY(100%);
  transition: all .3s;
  padding-left: 15px;

  p {
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    color: var(--heading-color);
  }

  &.is-show-scrollToTop-tips {
    // transition: transform 300ms linear 300ms;
    // transform: translateY(-32px);
    //background: red;
  }

  &.is-flash-scrollToTop-tips {
    transition: transform 300ms linear 900ms;
    transform: translateY(0);
  }

  &.is-switch-post-title {
    // transition: none;
    // transform: translateY(0);
    //background: blue;
  }

  &.is-show-post-title {
    // transition: transform 300ms linear;
    // transform: translateY(0);
    //background: darkorchid;
  }

  &.is-hidden-topic-bar {
    transition: transform 100ms linear;
    transform: translateY(100%);
    //background: #00c4a7;
  }

  &.immediately-show {
    transition: transform .3s;
    transform: translateY(-32px);
    //background: #545454;
  }
}

.post-page {

  .column {
    padding: 0;
  }

  .silde-bar {
    margin-right: 40px;
  }

  .post-container {
    margin-right: 10%;
  }

  .post-content {

    code {
      border-radius: 4px;
      background: var(--third-bg-color);
    }

    li, p {
      color: var(--text-color);
    }

    blockquote {
      word-break: break-all;
    }

    strong {
      color: var(--heading-color);
    }

    pre {
      padding: 0;
      background: transparent;

      code {
        padding: 15px;
        border: 1px solid $lineColor;
        background: var(--pre-code-bg-color);
      }
    }

    .hljs {
      color: var(--second-text-color);
    }

    img {
      display: block;
      margin: 0 auto;
      max-height: 500px;

      border-radius: $borderRadius;
      // box-shadow: 0 0 15px rgba(0, 0, 0, .05);

      // opacity: 0;
      // will-change: opacity;
    }

    a {
      color: $activeColor;
    }
  }

  .jump-container .button{
    max-width: calc(50% - 5px);
    span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow:ellipsis;
    }
  }

  .comment-container {
    border-top: 1px solid $lineColor;
  }

  .toc {
    position: sticky;
    top: 60px;

    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-top: 56px;
    padding-right: 40px;
    height: calc(100vh - 100px);

    text-align: right;

    overflow: auto;
    list-style: none!important;
    border-right: 1px solid $lineColor;

    &::-webkit-scrollbar {
      display: none;
    }

    > li {
      margin: 16px 0;
      a {
        font-size: 14px;
        font-weight: 600;
        line-height: 22px;
        color: var(--text-secondary-color);
      }
    }

    ol {
      margin-left: 0;
      margin-top: 5px;
      margin-left: 15px;
      padding-right: 20px;
      list-style: none!important;
      text-align: right;
      border-right: 1px solid $lineColor;

      li {
        margin: 8px 0;
        a {
          display: block;
        }
      }
    }

    .is-active {
      position: relative;
      &::after {
        content: '';
        background: var(--primary-color);
        position: absolute;
        right: -40px;
        font-size: 32px;
        width: 20px;
        height: 4px;
        top: 50%;
        margin-top: -2px;
      }
      span {
        color: $activeColor!important;
      }
    }
  }

  :target {
    padding-top: 60px;
    margin-top: -60px!important;
  }
}

#postTitle {
  margin-bottom: 16px;
  font-size: 28px;
  font-weight: 800;
  line-height: 36px;
  color: var(--heading-color)!important;
}

.page-author {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.page-author-info {
  display: flex;
  flex-direction: column;
}

.page-data {
  align-items: center;
  img {
    width: 24px;
    height: 24px;
    border-radius: 24px;
  }

  strong {
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    color: var(--heading-color);
  }

  time {
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    color: var(--text-secondary-color);
  }
}

.post-content {

  h2 {
    margin-top: 32px!important;
    margin-bottom: 16px;
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    color: var(--heading-color)!important;
  }

  h3 {
    margin-top: 16px!important;
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    color: var(--heading-color)!important;
  }

  p {
    font-size: 16px;
    font-weight: normal;
    color: var(--heading-color)!important;
    line-height: 24px;
  }

  a {
    text-decoration: underline;
  }
}

.page-tag {
  display: block;
  color: var(--disabled-color);
  background-color: var(--background-color-3);
  text-transform: uppercase;
  border-radius: 20px;
  line-height: 22px;
  font-style: normal;
}

.post-content .has-jax {
  overflow-x: auto;
  overflow-y: hidden;
}

@media screen and (max-width: 768px) {
  body > .body-container > main,
  .clip > .body-container > main {
    background-color: var(--background-color)!important;
  }
  .light > footer {
    background-color: rgba(245, 245, 244, 1)!important;
  }
  .dark > footer {
    background-color: rgba(20, 20, 20, 1)!important;
  }
  #postTitle {
    margin-bottom: 8px;
    font-size: 18px;
  }
  .page-author {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--border-color);
    .page-data {
      align-items: center;
      margin-right: 0;
      margin-bottom: 8px;
      width: 100%;
      .page-author-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        strong {
          flex: 1;
        }
      }
    }
    i {
      font-size: 12px;
    }
  }
  .post-content {
    margin-top: 16px;
    h2 {
      font-size: 18px;
    }
    h3 {
      font-size: 16px;
    }
  }
}
