#header-menu {
  height: 65px;
  transition: all .3s;
}

.header-title {
  height: 65px;
}

.header-widget {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  overflow: hidden;

  width: 100vw;
  height: 65px;
  padding: 0 15px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background: var(--background-color-2);

  .header-widget-container {
    width: 1060px;
    height: inherit;
    max-width: 1060px;
    .header-menu-wrap {
      flex: 1;
    }
    h1 {
      margin-right: 54px;
      a { margin: 0!important; }
      img {
        height: 24px;
        width: 130px;
      }
    }
  }

  a {
    margin: 0 16px;
    font-weight: bold;

    color: var(--text-color)!important;
  }

  h3 {
    position: relative;
    font-weight: bold;
  }

  .header-activity {
    position: relative;
    color: var(--heading-color)!important;
    &::after {
      content: '';
      position: absolute;
      bottom: -20px;
      left: 0;
      height: 4px;
      width: 100%;
      background-color: var(--primary-color);
    }
  }

  .hidden-menu {
    transform: translateY(-200%);
  }
}

.right-content {
  flex: 1;
  justify-content: flex-end;
  > .iconfont {
    font-size: 24px;
    cursor: pointer;
  }
  .icon-icon_light {
    color: #fff;
  }
  .search-wrap {
    position: relative;
    input {
      height: 40px;
      width: 280px;
      border: 1px solid var(--border-color);
      border-radius: 20px;
      outline: none;
      color: var(--text-color);
      background-color: var(--background-color-2);
    }
    > i {
      position: absolute;
      right: 24px;
      top: 2px;
      color: var(--primary-color);
      font-size: 24px;
      cursor: pointer;
    }
  }
}

.mobile-header-menu {
  margin-right: 16px;
  font-size: 24px!important;
  color: var(--primary-color);
}

.mobile-header-logo {
  margin-top: 5px;
  height: 20px;
}

.mobile-header-searchIcon {
  font-size: 24px!important;
  color: var(--primary-color);
}

.mobile-slide-menu { display: none; }

@media screen and (max-width: 768px) {
  :root body {
    padding-top: 52px;
  }
  .header-widget {
    height: 52px;
  }
  .mobile-header-title {
    position: absolute;
    left: 56px;
    font-weight: 600;
    max-width: 70%;
  }
  .header-shadow {
    box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.1);
  }
  #mobile-header-logo {
    svg {
      margin-top: 10px;
    }
  }
  #postTopicMobile {
    overflow: hidden;
    p {
      line-height: 52px;
      text-overflow: ellipsis;
    }
  }
  .mobile-search-wrap {
    position: fixed;
    top: -52px;
    left: 0;
    width: 100%;
    height: 52px;
    padding: 8px 16px;
    background-color: var(--background-color-2);
    transition: top .3s;
    .search-input {
      position: relative;
      input {
        padding-left: 47px;
        height: 36px;
        width: 100%;
        border: 1px solid var(--border-color);
        border-radius: 20px;
        outline: none;
        color: var(--text-color);
        background-color: var(--background-color-2);
      }
      > i {
        position: absolute;
        left: 15px;
        top: 0px;
        color: var(--disabled-color);
        font-size: 24px;
        cursor: pointer;
      }
      button {
        position: absolute;
        top: 0;
        right: 0;
        height: 36px;
        width: 82px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        color: #fff;
        background-color: var(--primary-color);
        border-width: 0;
        outline: none;
        z-index: 100;
      }
    }
  }
  .search-mask {
    position: fixed;
    left: 0;
    top: 52px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1001;
  }
  .mobile-slide-menu {
    display: block;
    position: fixed;
    top: 52px;
    left: -50%;
    width: 50%;
    height: 100vh;
    z-index: 1002;
    padding-top: 32px;
    background-color: var(--background-color-2);
    transition: left .3s;
    a {
      display: block;
      height: 54px;
      line-height: 54px;
      padding-left: 15px;
      font-weight: 600;
      color: var(--text-secondary-color)!important;
    }
    .header-activity {
      color: var(--heading-color)!important;
      border-right: 4px solid var(--primary-color);
    }
    > div {
      margin-top: 24px;
      padding-top: 24px;
      border-top: 1px solid var(--border-color);
      p {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 54px;
        font-size: 14px;
        padding: 0 15px;
        font-weight: 600;
        color: var(--text-secondary-color)!important;
        i {
          color: var(--primary-color);
        }
      }
    }
  }
}
