#header-menu {
  height: 65px;
  transition: all .3s;
}

.header-title {
  height: 65px;
}

.header-widget {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  overflow: hidden;

  width: 100vw;
  height: 65px;
  padding: 0 15px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background: var(--top-bar-bg-color);

  .header-widget-container {
    width: 1060px;
    height: inherit;
    h1 {
      margin-right: 54px;
      img {
        height: 24px;
      }
    }
  }

  a {
    margin: 0 8px;
    font-weight: bold;

    color: var(--text-secondary-color)!important;
  }

  h3 {
    position: relative;
    font-weight: bold;
  }

  .header-activity {
    a {
      color: var(--heading-color)!important;
    }
    &::after {
      content: '';
      position: absolute;
      bottom: -20px;
      left: 0;
      height: 4px;
      width: 100%;
      background-color: var(--primary-color);
    }
  }

  .hidden-menu {
    transform: translateY(-200%);
  }
}
