@import "./default-dark";
@import "./default-light";

.appearance-light {
  @include light;
}

.appearance-dark {
  @include dark;
}

.appearance-auto {
  @include light;

  @media (prefers-color-scheme: dark) {
    @include dark;
  }
}

.appearance-dark,
.appearance-auto,
.appearance-light {

  background: var(--primary-bg-color);

  h1, h2, h3, h4, h5, h6 {
    color: var(--primary-text-color);
  }

  hr {
    background: var(--third-bg-color);
  }

  p, strong, dl, ul, ol, cite {
    color: var(--second-text-color);
  }

  .post-container, .about-page {
    span {
      color: var(--second-text-color);
    }
  }

  .content {
    blockquote {
      background: var(--third-bg-color);
      border-color: var(--blockquote-border-color);
    }

    table {
      th, tr, td {
        border-color: var(--table-border-color);
        color: var(--second-text-color)!important;
      }
    }
  }
}
